<div class="main-div">
    <section id="banner" class="mb-5">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="banner " >
                     <div class="container inner-banner">
                        <div class="row inner-item  ">
                            <div class="col-sm-12 col-md-12 col-lg-6 inner-item-text text-white  " >
                                <h4 class="inner-item-text-heading">Welcome to <span class="text-primary">Hlthera</span></h4>
                                <h1 class="inner-item-text-sub-heading">The best specialists of the city expect you</h1>
                                <p class="inner-item-text-para">Lorem Ipsum is simply dummy text of the printing and type Lorem Ipsum has been the
                                  industry's standard dummy when an unknown printer took a galley.</p>
                                  <button class="btn btn-primary text-white">
                                      join today
                                  </button>
                            </div>
                        </div>
                     </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="banner " >
                    <div class="container inner-banner">
                       <div class="row inner-item  ">
                           <div class="col-sm-12 col-md-12 col-lg-6 inner-item-text text-white  " >
                               <h4>Welcome to <span class="text-primary">Hlthera</span></h4>
                               <h1>The best specialists of the city expect you</h1>
                               <p>Lorem Ipsum is simply dummy text of the printing and type Lorem Ipsum has been the
                                 industry's standard dummy when an unknown printer took a galley.</p>
                                 <button class="btn btn-primary text-white">
                                     join today
                                 </button>
                           </div>
                       </div>
                    </div>
               </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="banner " >
                    <div class="container inner-banner">
                       <div class="row inner-item  ">
                           <div class="col-sm-12 col-md-12 col-lg-6 inner-item-text text-white  " >
                               <h4>Welcome to <span class="text-primary">Hlthera</span></h4>
                               <h1>The best specialists of the city expect you</h1>
                               <p>Lorem Ipsum is simply dummy text of the printing and type Lorem Ipsum has been the
                                 industry's standard dummy when an unknown printer took a galley.</p>
                                 <button class="btn btn-primary text-white">
                                     join today
                                 </button>
                           </div>
                       </div>
                    </div>
               </div>
            </ng-template>  
          </owl-carousel-o>
    </section>
    <section id="explore-category">
        <div class="container  explore-category">
            <div class="row explore-categary-main">
                <!-- card section starts -->
                <div class="col-sm-12 col-md-12 col-lg-7 card-categary">
                    <!-- heading and arrow icon starts -->
                    <div class="row mb-4">
                        <div class="col-10">
                            <h2>Explore by category</h2> 
                        </div>
                        <div class="col-2 me-auto align-self-center">
                            <img src="/assets/images/arrow.png" alt="" class="ms-auto">
                        </div>
                    </div>
                    <!-- heading and arrow icon ends -->
    
    
                    <!-- cards catetgory starts -->
                <div class="row">
                    <!-- dentist card starts -->
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card mb-5 explore-card-category">
                            <img src="assets/images/dentist.png" class="card-img-top explore-card-category-card-img"
                                alt="...">
                            <div class="card-body explore-card-category-content">
                                <h6 class="explore-card-category-card-heading">dentist</h6>
                                <p class="explore-card-category-card-text">
                                    has been the industry's printer took a galley of the
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- dentist card ends -->
    
                     <!-- eye_specialist card starts -->
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="card mb-5 explore-card-category">
                            <img src="assets/images/eye_specialist.png"
                                class="card-img-top explore-card-category-card-img" alt="...">
                            <div class="card-body">
                                <h6 class="explore-card-category-card-heading">eye_specialist</h6>
                                <p class="explore-card-category-card-text">has been the industry's printer took a galley
                                    of the</p>
                            </div>
                        </div>
                     </div>
                     <!-- eye_specialist card ends -->
    
    
                     <!-- diabetes card starts -->
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="card mb-5  explore-card-category">
                            <img src="assets/images/diabetes.png" class="card-img-top explore-card-category-card-img"
                                alt="...">
                            <div class="card-body">
                                <h6 class="explore-card-category-card-heading">diabetes</h6>
                                <p class="explore-card-category-card-text">has been the industry's printer took a galley
                                    of the</p>
                            </div>
                        </div>
                    </div>
                     <!-- diabetes card ends -->
    
                     <!-- Kidney card starts -->
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="card mb-5  explore-card-category">
                            <img src="assets/images/kidney.png" class="card-img-top explore-card-category-card-img"
                                alt="...">
                            <div class="card-body">
                                <h6 class="explore-card-category-card-heading">kidney</h6>
                                <p class="explore-card-category-card-text">has been the industry's printer took a galley
                                    of the</p>
                            </div>
                        </div>
                    </div>
                     <!-- Kidney card ends -->
    
                     <!-- Lungs card starts -->
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="card  mb-5 explore-card-category">
                            <img src="assets/images/lungs.png" class="card-img-top explore-card-category-card-img"
                                alt="...">
                            <div class="card-body">
                                <h6 class="explore-card-category-card-heading">lungs</h6>
                                <p class="explore-card-category-card-text">has been the industry's printer took a galley
                                    of the</p>
                            </div>
                        </div>
                    </div>
                     <!-- Lungs card ends -->
    
                     <!-- Cancer card starts -->
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="card  mb-5 explore-card-category">
                            <img src="assets/images/cancer.png" class="card-img-top explore-card-category-card-img"
                                alt="...">
                            <div class="card-body">
                                <h6 class="explore-card-category-card-heading">cancer</h6>
                                <p class="explore-card-category-card-text">has been the industry's printer took a galley
                                    of the</p>
                            </div>
                        </div>
                    </div>
                     <!-- Cancer card ends -->
    
                </div>
                    <!-- cards catetgory ends -->
    
    
                </div>
                <!-- card section ends -->
    
                <!-- time section starts -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 mt-3 ">
                    <div class="explore-time-category">
                        <div class="row inner-explore-time-category">
                            <h5 class="time-heading">Check Our</h5>
                            <h2 class="explore-time-sub-hading ">Weekly Timetable</h2>
                            <p class=" inner-explore-time-category-para mb-4">
                                With the help of our timetable, you can select the convenient
                                time, choose an appropriate doctor, and make an appointment.
                            </p>
                            <div class="row explore-time-category-table">
                                <div class="col-4">
                                    <p>sunday</p>
                                    <p>monday</p>
                                    <p>tuesday</p>
                                    <p>wednesday</p>
                                    <p>thursday</p>
                                    <p>friday</p>
                                    <p>saturday</p>
                                </div>
                                <div class="col-2">
                                    <p>-</p>
                                    <p>-</p>
                                    <p>-</p>
                                    <p>-</p>
                                    <p>-</p>
                                    <p>-</p>
                                    <p>-</p>
                                </div>
                                <div class="col-6 time-schdule-time">
                                    <p>closed</p>
                                    <p>8:00 am - 6:00 pm</p>
                                    <p>8:00 am - 6:00 pm</p>
                                    <p>8:00 am - 6:00 pm</p>
                                    <p>8:00 am - 6:00 pm</p>
                                    <p>8:00 am - 6:00 pm</p>
                                    <p>closed</p>
    
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- time section starts -->
    
    
    
            </div>
        </div>
    </section>
    <section id="Total-Health-Care">
        <div class="container-fluid justify-content-between d-flex mt-5">
            <div class="row total-health-care justify-content-evenly ">
                <div class="col-sm-12 col-md-6 col-lg-5 total-health-care-image">
                    <img src="/assets/images/we_provide.png" alt="" class="total-health-care-img">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 total-health-care-text align-self-center ">
                    <h2>We Provide</h2>
                    <h2>total health care</h2>
                    <p class="total-health-care-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                    </p>
                    <p class="total-health-care-para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </p>
                    <div class="btn btn-primary">Learn More</div>
                </div>
            </div>
        </div>
    </section>
    <section id="Online-Consultation">
        <div class="container-fluid online-consultation-bg-img d-flex">
            <div class="container online-consultaion  align-self-center">
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                        <div class="">
                            <h2 class="Online-Consultation-heading mb-4">Get Online Consultation</h2>
                        <p class="Online-Consultation-para">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur.
                            Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                        <h5 class="help mb-4"> Take the First Step to Help <span class="help-no">(+971) 123 4567</span></h5>
                        <button class="btn btn-primary">book now</button>
                        </div>
                    </div>
                </div>
                
            </div>
    
        </div>
    </section>
    <section id="about-us ">
        <div class="container-fluid about-us mt-5 mb-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 d-flex">
                    <img class="about-us-bg-img align-self-center"src="assets/images/clinic_with_innovative.png" alt="">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5">
                    <div class="d-flex">
                        <h5 class="d-flex about-us-heading" style="display: flex;">about us</h5>
                        <div class="aboutline"></div>
                    </div>
                    <div class="about-us-text">
                        <h2 class="about-us-sub-heading ">
                            Clinic with innovative approach to treatment
                        </h2>
                        <p class="about-us-para mt-4">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                            Lorem ipsum dolor.
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <ul class="about-list">
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Adult and Children's Trauma Center</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Birthing and Lactation Classes</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Dental and Oral Surgery</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Heart and Vascular Institute</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Interventional Cardiology</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="about-list" >
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Ear, Nose and Throat (ENT)</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Cardiac Support Groups</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Plastic Surgery</span>
                                    </li>
                                    <li class="d-flex">
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="text">Pediatric Emergency Care</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                            <button class="btn mt-4 mb-4">
                                Read More
                            </button>
    
                    </div>
                </div>
            </div>
            <div class="about-us-doc-card">
                <div class="container about-us">
                   <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
                        <div class="card   about-us-card-services">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img src="/assets/images/qualified_doctors.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body services-card">
                                        <h6 class="about-card-services-title">Qualified Doctors</h6>
                                        <hr class="about-card-services-boder">
                                        <p class="about-card-services-text">Experienced and devoted doctors are ready to help
                                            you
                                            with your problems.</p>
                                        <h1 class="about-card-services-font">01</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
                        <div class="card   about-us-card-services">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img src="/assets/images/emergency_care.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body services-card">
                                        <h6 class="about-card-services-title">Qualified Doctors</h6>
                                        <hr class="about-card-services-boder">
                                        <p class="about-card-services-text">
                                            Experienced and devoted doctors are ready to help
                                            you with your problems.
                                        </p>
                                        <h1 class="about-card-services-font">02</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
                        <div class="card   about-us-card-services">
                            <div class="row ">
                                <div class="col-md-3">
                                    <img src="/assets/images/24_hour.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body services-card">
                                        <h6 class="about-card-services-title">Qualified Doctors</h6>
                                        <hr class="about-card-services-boder">
                                        <p class="about-card-services-text">Experienced and devoted doctors are ready to help
                                            you
                                            with your problems.</p>
                                        <h1 class="about-card-services-font">03</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <section id="our-testimonials">
        <div class="container-fluid testimonials-bg-color mt-2 pb-5 ">
            <div class="container testimonials-content ">
                <div class="row testimonials-content-text text-center ">
                    <h2 class=" testimonials-heading mt-5">Our Testimonials</h2>
                    <p class="testimonials-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <div class="card d-flex testimonials-doc-card">
                            <div class="card-body" style="padding-bottom: 0;">
                                <h1 class="estimonials-doc-card-font fa fa-quote-left"></h1>
                                <h4 class="card-title testimonials-doc-card-title mb-2">
                                   alex maccow
                                </h4>
                                <h5 class="card-subtitle  mb-3  testimonials-doc-card-subtitle">
                                    Heart Patient
                                </h5>
                                <p class=" card-text testimonials-doc-card-para">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam
                                </p>
    
                            </div>
                            <img src="assets/images/tes_1.png" alt="" width="120px" height="120px" class="align-self-end testimonials-doc-card-img">
                        </div>
                    </div>
    
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <div class="card d-flex testimonials-doc-card">
                            <div class="card-body" style="padding-bottom: 0;">
                                <h1 class="estimonials-doc-card-font fa fa-quote-left"></h1>
                                <h4 class="card-title testimonials-doc-card-title mb-2">
                                    Edna C.Sadler
                                </h4>
                                <h5 class="card-subtitle  mb-3  testimonials-doc-card-subtitle">
                                    Surgically Patient
                                </h5>
                                <p class=" card-text testimonials-doc-card-para">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam
                                </p>
    
                            </div>
                            <img src="assets/images/tes_1.png" alt="" width="120px" height="120px" class="align-self-end testimonials-doc-card-img">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <div class="card d-flex testimonials-doc-card">
                            <div class="card-body" style="padding-bottom: 0;">
                                <h1 class="estimonials-doc-card-font fa fa-quote-left"></h1>
                                <h4 class="card-title testimonials-doc-card-title mb-2">
                                    John Smith
                                </h4>
                                <h5 class="card-subtitle  mb-3  testimonials-doc-card-subtitle">
                                    Diabetes
                                </h5>
                                <p class=" card-text testimonials-doc-card-para">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam
                                </p>
    
                            </div>
                            <img src="assets/images/tes_3.png" alt="" class="align-self-end testimonials-doc-card-img">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                        <div class="card d-flex testimonials-doc-card">
                            <div class="card-body" style="padding-bottom: 0;">
                                <h1 class="estimonials-doc-card-font fa fa-quote-left"></h1>
                                <h4 class="card-title testimonials-doc-card-title mb-2">
                                    Sophia Emma
                                </h4>
                                <h5 class="card-subtitle  mb-3  testimonials-doc-card-subtitle">
                                    cancer
                                </h5>
                                <p class=" card-text testimonials-doc-card-para">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                    totam rem aperiam
                                </p>
    
                            </div>
                            <img src="assets/images/tes_4.png" alt="" width="120px" height="120px" class="align-self-end testimonials-doc-card-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>

