<footer class="mt-5">
  
    
  <div class="container max">
    <div class="row  ">
      <div class="col-xs-12 col-sm-12 col-md-6 align-self-center mb-5 ">
        <h2 class="justify-content-center heading mb-4">Welcome to the future of Hlthera, with you at the center. Join Today</h2>
        <button class="btn btn-primary ">join today</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 footer-img ">
        <div class="img">
        <img src="/assets/images/lg/avatar3.jpg" alt="" >

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-bg-color min">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-sm-8 col-md-4 col-lg-2 mb-5 mt-2">
          <img src="assets/images/footer_logo.png" alt="" style="width: 100%;">

        </div>
      </div>
      <div class="row  ">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3   ">
          <h5 class="text-uppercase">GET STARTED</h5>

          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          </p>
          <img src="/assets/images/play.png" alt="" width="50%">
          <img src="assets/images/apple1.png" alt="" width="50%">
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3">
          <h5 class="text-uppercase">STAY INFORMED</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Sign up to our email list for occasional </a>
            </li>
            <li>
              <a href="#!" class="text-white">updates from Hlthera.</a>
            </li>
            <li>
              <button class="btn mt-2 btnsgin">
                signup
              </button>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 mb-3" >
            <div class="company">
          <h5 class="text-uppercase mb-0">comapny</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Privacy Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms of</a>
            </li>
            <li>
              <a href="#!" class="text-white">Services</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sitemap</a>
            </li>
          </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 mb-3">
          <div class="company">
            <h5 class="text-uppercase">help</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Contact Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQs</a>
            </li>
            <li>
              <a href="#!" class="text-white">Careers</a>
            </li>
          </ul>
          </div>
          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 ">
          <h5 class="text-uppercase">social</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">twitter</a>
            </li>
            <li>
              <a href="#!" class="text-white">instagram</a>
            </li>
            <li>
              <a href="#!" class="text-white">facebook</a>
            </li>
          </ul>
        </div>

      </div>
      <hr class="line">
      <div class="row copy "> © Copyright 2020 Hlthera, All Right Reserved</div>
  
    </div>
  </div>
</footer>