
<nav class="navbar navbar-expand d-flex flex-column align-item-start navbar_toggle" id="sidebar">

  <a href="#" class=" mt-5">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none" >
           <img src="/assets/images/logo_header.png" alt="hugenerd" >
      </a>
   </a>
  <a href="#" class=" mt-5 ">
     <a href="#" class="d-flex justify-content-center text-white text-decoration-none " >
          <div class="rounded-circle"style="border: 2px solid white; ">
            <img src="/assets/images/xs/avatar6.jpg" alt="hugenerd" width="60" height="60" class="rounded-circle">
          </div>
      </a>
      <h6 class="mt-2">CURE Hospitals</h6>
  </a>
  <ul class="navbar-nav d-flex flex-column mt-5" style="width:212px;">
      <li class="nav-item ">
        <a class="nav-link" href="dashboard">
          <img src="assets/images/dashboard.png" alt="" class="pe-4">  
          Dashboard</a>
      </li>

      <li class="nav-item ">
          <a class="nav-link " href="#">
              <img src="assets/images/subscription_plan.png" alt="" class="pe-4">
              Subscription Plan</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="manage">
              <img src="assets/images/availability.svg" alt="" class="pe-4">
              Manage Availability</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/appointment_management.png" alt="" class="pe-4">
              Appointment Management</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/payment_management.png" alt="" class="pe-4">
              Payment Management </a>
              
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/request_management.png" alt="" class="pe-4">
              Request Management</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/support_&_communication.png" alt="" class="pe-4">
              Support & Communication</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/ratings_&_reviews.png" alt="" class="pe-4">
              Ratings & Reviews</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/service.png" alt="" class="pe-4">
              Service Management</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/doctor.png" alt="" class="pe-4">
              Doctor's Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
              <img src="assets/images/report_management.png" alt="" class="pe-4" >
              Report Management</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/edit_profile_request.png" alt="" class="pe-4">
              Edit Profile Request</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
              <img src="assets/images/time_&_fees_management.png" alt="" class="pe-4">
              Time & Fees Management</a>
        </li>
    </ul>
</nav>