  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
          <button class="btn toggleHeader">
            <img src="/assets/images/list_icon.png" width="15px" alt="">
          </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav  mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link nader " href="#">Good morning, Nader</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 dashboard-header-search" type="search" placeholder="Search" aria-label="Search">
        </form>

        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <img src="/assets/images/notification.png" width="15px" alt="">

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="/assets/images/setting.png" width="15px" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <img src="/assets/images/logout.png" width="15px" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>