<div class="wrapper">
    <div class="layout-body">
        <app-left-sidebar></app-left-sidebar>
            <div class="layout-content">
              
                <app-dashboard-header></app-dashboard-header>

                   
    
                <div class="container mt-3">
                    <div class="row ">
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="card  mb-4 pt-2">
                                <div class="d-flex  ">
                                    <div class="line"></div>
                                    <h5 class="me-auto heading"> <span>Total</span> Appointments</h5>
                                    <h6 class="total-heading-count pe-3">85068k</h6>
                                </div>
    
                                <div class="card-body">
                                    <div class="row">
    
                                        <div class="col-sm-12 col-md-4 col-lg-4 ">
                                            <img src="/assets/images/ongoing_appointment.png">
                                            <p class="total-ongoing-appointment-heading mt-2">Total Ongoing Appointment</p>
                                            <p class="total-ongoing-appointment-count">85068k</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-sm-12 col-md-4 col-lg-4 ">
                                            <img src="/assets/images/ongoing_appointment.png">
                                            <p class="total-ongoing-appointment-heading mt-2">Total Cancelled Appointment
                                            </p>
                                            <p class="total-ongoing-appointment-count">85068k</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-sm-12 col-md-4 col-lg-4 ">
                                            <img src="/assets/images/complete_appointment.png">
                                            <p class="total-ongoing-appointment-heading mt-2">Total Complete Appointment</p>
                                            <p class="total-ongoing-appointment-count">85068k</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="card  mb-4 pt-2">
                                <div class="d-flex  ">
                                    <div class="line"></div>
                                    <h5 class="me-auto heading"> <span>Total</span> Doctors</h5>
                                    <h6 class="total-heading-count pe-3">85068k</h6>
                                </div>
    
                                <div class="card-body">
                                    <div class="row">
                                        
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <img src="/assets/images/new_registration.png">
                                            <p class="total-ongoing-appointment-heading mt-2">New Registration Request</p>
                                            <p class="total-ongoing-appointment-count">85068k</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div class="icon-img">
                                                <img src="/assets/images/inactive_doctors.png">
                                                <i class="fa fa-solid fa-circle circle-color-inactive"></i>
                                            </div>
                                            <p class="total-ongoing-appointment-heading mt-2">Inactive Doctors
                                            </p>
                                            <p class="total-ongoing-appointment-count">85068k</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div class="icon-img">
                                                <img src="/assets/images/active_doctors.png">
                                                <i class="fa fa-solid fa-circle circle-color-active"></i>
                                            </div>
                                            <p class="total-ongoing-appointment-heading mt-2">Active Doctors</p>
                                            <p class="total-ongoing-appointment-count">85068k</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
    
                            <div class="card  mb-4 pt-2">
                                <div class="d-flex  ">
                                    <div class="line"></div>
                                    <h5 class="me-auto heading"> <span>Daily Revenue </span>  Overview</h5>
                                </div>
        
                                <div class="card-body">
                                   <div class="row">
                                    <div class="col">
                                        <div id="chart" >
                                            <canvas id="myChart">
                                        
                                            </canvas>
                                        </div>
                                    </div>
                                   </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="row align-self-center mb-2 mt-2">
                                <div class="col-6 ms-auto  text-end ">
                                    <button class="btn ">Today <img class="export-down-arrow"
                                            src="/assets/images/export_down_arrow.png" alt=""></button>
                                </div>
                            </div>


                            <div class="d-flex bd-highlight ">
                                <div class="row justify-content-around">
                                    <div class="col-5 p-2 bd-highlight rate text-center" >
                                        <img src="/assets/images/sm/avatar4.jpg" alt="" class="rounded-circle "width="40px" height="40px">
                                        <h6 class="rigth-side-bar">Samantha Ivy</h6>
                                        <i class="fa fa-star star-color"></i>
                                        <i class="fa fa-star star-color"></i>
                                        <i class="fa fa-star star-color"></i>
                                        <i class="fa fa-star star-color"></i>
                                        <i class="fa fa-star-half star-color"></i>
                                        <span class="review">34 reviews</span>
                                        <p class="text">Average Ratings Reviews</p>
                                    </div>
        
        
                                    <div class="col-5 p-2 text-center bd-highlight rate" >
                                        <img src="/assets/images/sm/avatar3.jpg" alt=""class="rounded-circle justify-content-center" width="40px" height="40px">
                                        <h6 class="rigth-side-bar">No Show</h6>
                                        <p class="text">
                                            has been the industry's standard dummy text ever
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                
                                <div class="col">
                                    <div class="card pt-2">
                                        <div class="d-flex">
                                            <div class="line"></div>
                                        <p><span>Number Of Profile</span> Viewers</p>
                                        </div>
                                        <div class="profile-viewers">
                                            <div class="card-body d-flex review " >
                                                <img src="/assets/images/sm/avatar1.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
        
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-online"></i>Online</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar2.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">Alex Smith</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
        
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar3.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-meeting"></i>meeting</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar4.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">Alex Smith</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar5.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar5.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar5.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar5.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                            <hr class="number-of-profile-viewers-hr">
                                            <div class="card-body d-flex review ">
                                                <img src="/assets/images/sm/avatar5.jpg" alt="" class="rounded-circle "
                                                    width="40px" height="40px">
                                                <div class="ms-3 pt-2">
                                                    <h5 class="card-title" style="font-size: 12px;">John Miachel</h5>
                                                    <h6 class="card-subtitle text-muted" style="font-size:9px; display: flex;">
                                                        <i class="fa fa-solid fa-circle circle-color-offline"></i>offline</h6>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                    <section id="banner">
                        <div class="card  pt-2">
                            <div class="d-flex">
                            <div class="line"></div>
                            <h5 class="heading"><span>Our</span> Services</h5>
                            </div>
                            
                            
                            <div class="card-body">
                                
                                <owl-carousel-o [options]="customOptions">
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container2">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container3">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container4">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container5">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container6">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container2">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container3">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container4">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container5">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container6">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container2">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container3">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container4">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container5">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="bottom-carsoule-img-container6">
                                        <img src="/assets/images/close_icon.png" alt="" class="close-icon">
                                        </div>
                                    </ng-template>
                                  </owl-carousel-o>
                    
                            </div>
                        </div>
                    </section>





                    


                </div>
    
            </div>
        </div>
        
    </div>
    <!-- <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body text-center reviews">
                    <img src="/assets/images/sm/avatar4.jpg" alt="" class="rounded-circle "
                        width="40px" height="40px">
                    <h6 class="rigth-side-bar">Samantha Ivy</h6>
                    <i class="fa fa-star star-color"></i>
                    <i class="fa fa-star star-color"></i>
                    <i class="fa fa-star star-color"></i>
                    <i class="fa fa-star star-color"></i>
                    <i class="fa fa-star-half star-color"></i>
                    <span class="review">34 reviews</span>
                    <p class="text">Average Ratings Reviews</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card  ">
                <div class="card-body text-center reviews">
                    <div class="">
                        <img src="/assets/images/sm/avatar3.jpg" alt=""
                            class="rounded-circle justify-content-center" width="40px"
                            height="40px">
                        <h6 class="rigth-side-bar">No Show</h6>
                        <p class="text">has been the industry's standard dummy text ever</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->