
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.layout-content {
    height: 100vh;
    overflow-y: scroll;
  }
  .layout-content::-webkit-scrollbar {
    display: none;
}

.mat-form-field-flex{
    position: relative !important;
}
.mat-form-field-suffix{
    position: absolute !important;
  
    left: 10px;
    top: 8px;
}

.mat-form-field-underline{
    height: 0 !important;
}
.mat-form-field-subscript-wrapper{
    margin-top: 0 !important;
}
.mat-form-field-ripple{
    height: 0 !important;
}
.mat-form-field-underline{
    height: 0 !important;
}
.mat-form-field-flex{
    border-radius: 21px !important;
    background: aliceblue !important;
}
.mat-form-field-infix {
    border-top: 0 !important;
    width: 160px !important;
}
.mat-form-field-wrapper{
    padding-bottom: 0 !important;

}
 .mat-form-field-infix{
    padding: 12px !important;
  }
  .mat-form-field-label{
    padding: 6px !important;
  }
  .date{
      padding: 10px 0;
      color: #8494AD;
  }

  .toggle-nav{
      margin-left: 80px;
  }